<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Car:</h3>

    <form class="form new-car-form">
      <div class="form-group">
        <label for="car-name">Car name:</label>
        <input class="form-input" type="text" id="car-name" name="car-name" />
      </div>
      <div class="form-group">
        <label for="transmission">transmission:</label>
        <textarea class="form-input" id="transmission" name="transmission"></textarea>
      </div>
      <div class="form-group">
        <label for="car-desc">description:</label>
        <textarea class="form-input" id="car-desc" name="car-desc"></textarea>
      </div>
      <div class="form-group">
        <label for="drivetrain">drivetrain:</label>
        <textarea class="form-input" id="drivetrain" name="drivetrain"></textarea>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if cars.length}}
  <div class="col-md-6 car-list">
    <h3>Current Car:</h3>

    {{#each cars as |car|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/car/{{car.id}}">{{car.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{car.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
